body {
    font-family: Montserrat, sans-serif;
    padding: 10px 5px;
    width: 300px;
    background-color: #ccfff9;
}

#channel-info {
    text-align: center;
    background-image: url("bubbles.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

#channel-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#channel-pic:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#channel-name {
    margin: 10px 0 5px;
    color: #44a138;
}

#subscriber-count {
    margin: 5px 0;
}

#channel-link {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #009692;
    border: 2px solid #009692;
    color: white;
    text-decoration: none;
}

#channel-link:hover {
    background-color: white;
    color: #009692;
    border: 2px solid #009692;
}

#latest-videos {
    margin-top: 20px;
}

#latest-videos h3 {
    margin-top: 15px;
    text-align: center;
    color: #009692;
}

.video-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.video-item img {
    width: 100%;
    border-radius: 5px;
}